.header {
    max-width: 1920px;
    min-height: 1000px;
    margin: 0 auto;
    background-image: url(../img/header__background.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .burger span {
    display: none;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
  }
.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header__top-wrapper {
    width:  100%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 200px;
}
.header__top {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 103px;
}
.header__logo {
    margin-right: 124px;
}
.header__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    margin-right: 185px;
}
.header__nav-ul {
    max-width: 740px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.header__nav-li {
    margin-right: 40px;
}
.header__nav-li:last-child {
    margin-right: 0;
}
.header__nav-a {
    display: inline-block;
    font-size: 16px;
    transition: transform 0.2s ease;
}
.header__nav-a:hover {
    transform: scale(1.10);
}
.header__social {
    width: 92px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__social-yout {
    cursor: pointer;
}
.header__social-vk {
    cursor: pointer;
}
.header__body {
}
.header__body-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #fff;
    max-width: 636px;
    margin-bottom: 60px;
}
.header__body-button {
    max-width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.header__body-button-img {
}
.header__body-button-img:hover g {
    opacity: 1;
}
.header__body-button-text {
    max-width: 158px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
}
.header__botton {
    display: flex;
}
.header__botton__nav-1 {
    width: 315px;
    height: 150px;
    color: #fff;
    background-color: #8d86c9;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
}
.header__botton__nav-1:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
} 
.header__botton__nav-1-text-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 17px;
}
.header__botton__nav-1-box {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 40px;
}
.header__botton__nav-1-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    white-space: nowrap;
}
.header__botton__nav-1-icon {
}
.header__botton__nav-2 {
    width: 315px;
    height: 150px;
    color: #fff;
    background-color: #8d86c9;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
}
.header__botton__nav-2:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
} 
.header__botton__nav-2-text-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 17px;
}
.header__botton__nav-2-box {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 40px;
}
.header__botton__nav-2-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    white-space: nowrap;
}
.header__botton__nav-2-icon {
}
.header__botton__nav-3 {
    width: 315px;
    height: 150px;
    color: #fff;
    background-color: #8d86c9;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
}
.header__botton__nav-3:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
} 
.header__botton__nav-3-text-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 17px;
}
.header__botton__nav-3-box {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 40px;
}
.header__botton__nav-3-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    white-space: nowrap;
}
.header__botton__nav-3-icon {
}
.header__botton__nav-4 {
    width: 315px;
    height: 150px;
    color: #fff;
    background-color: #8d86c9;
    position: relative;
    cursor: pointer;
}
.header__botton__nav-4:hover {
    right: 5px;
    bottom: 5px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 1);
} 
.header__botton__nav-4-text-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 17px;
}
.header__botton__nav-4-box {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 40px;
}
.header__botton__nav-4-text-2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    white-space: nowrap;
}
.header__botton__nav-4-icon {
}

.main {
}
.section__images {
    display: flex;
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin-bottom: 150px;
}
.section__images-1 {
    width: 416px;
    height: 500px;
    border: 1px solid #f7ece1;
    margin-right: 24px;
    background-image: url(../img/section__images1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section__images-1-text {
    margin-bottom: 65px;
}
.section__images-1-text1 {
}
.section__images-1-text2 {
}
.section__images-2 {
    width: 416px;
    height: 500px;
    border: 1px solid #f7ece1;
    margin-right: 24px;
    background-image: url(../img/section__images2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section__images-2-text {
    margin-bottom: 65px;
}
.section__images-2-text1 {
}
.section__images-2-text2 {
}
.section__images-3 {
    width: 416px;
    height: 500px;
    border: 1px solid #f7ece1;
    background-image: url(../img/section__images3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section__images-3-text {
    margin-bottom: 65px;
}
.section__images-3-text1 {
}
.section__images-3-text2 {
}



/* СПОРТИВНЫЙ КЛУБ================================== */
/* СПОРТИВНЫЙ КЛУБ================================== */
/* СПОРТИВНЫЙ КЛУБ================================== */



.sport__club {
    margin-bottom: 150px;
}
.sport__club-inner {
    margin: 0 auto;
    display: flex;
    max-width: 1076px;
}
.sport__club-img {
    z-index: 1;
    max-width: 526px;
}
.sport__club-images {
    max-width: 100%;
    max-height: 514px;
}
.sport__club-block-right {
    max-width: 636px;
    min-height: 654px;
    background-color: #f7ece1;
    transform: translate(-70px, -80px);
}
.sport__club-block-right-container {
    max-width: 431px;
    margin-top: 73px;
    margin-right: 60px;
    margin-left: 145px;
}
.sport__club-block-right-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333;
    margin-bottom: 25px;
}
.sport__club-block-right-text1 {
    max-width: 430px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 35px;
}
.sport__club-block-right-title2 {
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    color: #333;
    margin-bottom: 25px;
}
.sport__club-block-right-text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 15px;
}
.text--square {
    position: relative;
}
.text--square::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 5px;
    left: -30px;
    background-color: #8d86c9;
}

.sport__club-block-right-text3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 15px;
}
.sport__club-block-right-text4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 15px;
}
.sport__club-block-right-text5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 15px;
}


/* ТРЕНЕРСКИЙ СОСТАВ========================================= */
/* ТРЕНЕРСКИЙ СОСТАВ========================================= */
/* ТРЕНЕРСКИЙ СОСТАВ========================================= */


.trainers {
    margin-bottom: 150px;
}
.trainers__inner {
    
}
.trainers__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}
.trainers__top-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333;
}
.trainers__top-buttons {
    display: flex;
}
.trainers__top-button-left {

}
.arrow--left {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #8d86c9;
    margin-right: 15px;
}
.arrow--left img {
    padding-left: 30%;
}
.trainers__top-button-right {
}
.arrow--right {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #8d86c9;
}
.arrow--right img {
    padding-left: 30%;
}
.trainers__slider {
}
.swiper {
}
.trainers__wrapper {
}
.swiper-wrapper {
}
.trainers__slide {
    max-width: 196px;
}
.swiper-slide {
}
.trainers__slide-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7ece1;
    margin-bottom: 25px;
}
.trainers__slide-img {
    max-width: 166px;
}
.trainers__slide-name {
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}
.trainers__slide-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #333;
}


/* ЦЕНЫ И УСЛУГИ===================================== */
/* ЦЕНЫ И УСЛУГИ===================================== */
/* ЦЕНЫ И УСЛУГИ============================================ */


.price {
}
.price__inner {
    display: flex;
    justify-content: space-between;
}
.prise__leftblock {
    max-width: 526px;
}
.prise__leftblock-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333;
    margin-bottom: 75px;
}
.prise__leftblock-accordion {
    position: relative;
    margin-bottom: 30px;
}
.accorion__label {
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    position: relative;
    padding: 15px 30px;
    width: 526px;
    height: 60px;
    background-color: #8d86c9;
    color: #fff;
    cursor: pointer;
}
.accorion__label::after {
    content: "";
    width: 18px;
    height: 20px;
    background-image: url(../img/arrow__left.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
}
.prise__leftblock-accordion.active .accorion__label::after {
    content: "";
    width: 18px;
    height: 20px;
    background-image: url(../img/arrow__left.svg);
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(270deg);
    top: 20px;
    right: 20px;
}
.accordion__contant {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
}
.accordion__contant p {
    padding: 20px;
}
.prise__rightblock {
    max-width: 636px;
}
.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.services-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333;
}
.services-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 105px;
}
.services-button-left {
}

.services-button-right {
}

.price__slider {
}
.swiper {
}
.price__wrapper {
}
.swiper-wrapper {
}
.price__slide {
}
.swiper-slide {
}
.price__slide-box {
    max-width: 636px;
    border: 1px solid #f7ece1;
}
.price__slide-img {
    position: relative;
    object-fit: cover;
    padding: 25px;
    width: 632px;
    height: 270px;
}
.img__text {
    position: absolute;
    left: 50px;
    bottom: 40px;
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    color: #fff;
}



/* АДАПТИВ=================================================== */
/* АДАПТИВ=================================================== */
/* АДАПТИВ=================================================== */
@media (max-width: 1500px) {
    .sport__club {
        margin-bottom: 100px;
    }
}
@media (max-width: 1300px) {
    .header__logo {
        margin-right: 50px;
    }
    .header__nav {
        margin-right: auto;
    }
    .trainers__slider {
        max-width: 1230px;
    }
    .price__inner {
        justify-content: space-around;
    }
    .accorion__label {
        width: 330px;
    }
    .accordion__contant {
        max-width: 330px;
    }
    .trainers {
        margin-bottom: 100px;
    }
}
@media (max-width: 1200px) {
    .header__top-wrapper {
        margin-bottom: 100px;
    }
    .header__body-button {
        margin-bottom: 140px;
    }
    .header__botton {
        margin: 0 auto;
        max-width: 655px;
        flex-wrap: wrap;
    }
    .header__botton__nav-1 {
        margin-bottom: 10px;
    }
    .header__botton__nav-2 {
        margin-bottom: 10px;
    }
    .header__botton__nav-3 {
        margin-bottom: 10px;
    }
    .header__botton__nav-4 {
        margin-bottom: 10px;
    }
    .trainers__slider {
        max-width: 1020px;
    }
    .sport__club {
        margin-bottom: 50px;
    }
}
@media (max-width: 1100px) {
    .header__nav-li {
        margin-right: 30px;
    }
    .trainers__slider {
        max-width: 1020px;
    }
    .price__inner {
        flex-direction: column;
        align-items: center;
    }
    .prise__leftblock {
        max-width: 636px;
    }
    .accorion__label {
        width: 636px;
    }
    .accordion__contant {
        max-width: 636px;
    }
}
@media (max-width: 1000px) {
    .header__top {
        justify-content: space-between;
    }
    .header__logo {
        margin: 0;
    }
    .header__nav {
        background-color: rgba(220, 220, 220, 0.9);
        width: 600px;
        left: 145px;
        position: absolute;
        top: 20px;
        right: 330px;
        font-size: 30px;
        display: block;
        margin: 0;
        /* display: none; */
        max-height: 0px;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        opacity: 0;
    }
    .header__nav.active {
        max-height: 400px;
        opacity: 1;
    }
    .header__nav-a {
        font-size: 30px;
        color: darkred;
    }

    .header__nav-ul {
        flex-direction: column;
    }
    .header__nav-li {
        margin: 0;
    }
    .header__social {
        display: none;
    }
    .burger span {
        display: block;
    }
    .header__top-wrapper {
        margin-bottom: 50px;
    }
    .header__body-title {
        margin-bottom: 110px;
    }
    .section__images {
        font-size: 20px;
    }
    .section__images-1 {
        height: 400px;
    }
    .section__images-2 {
        height: 400px;
    }
    .section__images-3 {
        height: 400px;
    }
    .sport__club-block-right-title {
        font-size: 30px;
        white-space: nowrap;
    }
    .trainers__slider {
        max-width: 816px;
    }
}
@media (max-width: 900px) {
    .header {
        margin-bottom: 100px;
    }
    .header__nav {
        right: 300px;
        width: 550px;
    }
    .section__images-1 {
        height: 350px;
    }
    .section__images-1-text {
        margin-bottom: 20px;
    }
    .section__images-2 {
        height: 350px;
    }
    .section__images-2-text {
        margin-bottom: 20px;
    }
    .section__images-3 {
        height: 350px;
    }
    .section__images-3-text {
        margin-bottom: 20px;
    }
    .trainers__slider {
        max-width: 800px;
    }
}
@media (max-width: 800px) {
    .header__nav {
        right: 250px;
        width: 500px;
    }
    .section__images {
        font-size: 18px;
    }
    .section__images-1 {
        height: 300px;
    }
    .section__images-2 {
        height: 300px;
    }
    .section__images-3 {
        height: 300px;
    }
    .sport__club-block-right-container {
        margin-left: 110px;
    }
    .trainers__slider {
        max-width: 600px;
    }
}
@media (max-width: 700px) {
    .header {
        margin-bottom: 50px;
    }
    .header__nav {
        right: 200px;
        width: 400px;
    }
    .header__botton {
        max-width: 495px;
    }
    .header__botton__nav-1 {
        width: 235px;
    }
    .header__botton__nav-1-text-1 {
        margin-left: 15px;
    }
    .header__botton__nav-1-text-2 {
        font-size: 21px;
    }
    .header__botton__nav-1-box {
        margin-left: 15px;
        margin-right: 20px;
    }
    .header__botton__nav-2 {
        width: 235px;
    }
    .header__botton__nav-2-text-1 {
        margin-left: 15px;
    }
    .header__botton__nav-2-text-2 {
        font-size: 21px;
    }
    .header__botton__nav-2-box {
        margin-left: 15px;
        margin-right: 20px;
    }
    .header__botton__nav-3 {
        width: 235px;
    }
    .header__botton__nav-3-text-1 {
        margin-left: 15px;
    }
    .header__botton__nav-3-text-2 {
        font-size: 21px;
    }
    .header__botton__nav-3-box {
        margin-left: 15px;
        margin-right: 20px;
    }
    .header__botton__nav-4 {
        width: 235px;
    }
    .header__botton__nav-4-text-1 {
        margin-left: 15px;
    }
    .header__botton__nav-4-text-2 {
        font-size: 21px;
    }
    .header__botton__nav-4-box {
        margin-left: 15px;
        margin-right: 20px;
    }
    .section__images-1 {
        height: 250px;
        margin-right: 10px;
    }
    .section__images-2 {
        height: 250px;
        margin-right: 10px;
    }
    .section__images-3 {
        height: 250px;
        margin-right: 10px;
    }
    .services {
        margin-bottom: 30px;
    }
    .trainers__slider {
        max-width: 600px;
    }
    .prise__leftblock {
        max-width: 500px;
    }
    .accorion__label {
        width: 500px;
    }
    .prise__rightblock {
        max-width: 500px;
    }
    .price__slide-img {
        width: 500px;
    }
}
@media (max-width: 600px) {
    .header__nav {
        right: 150px;
        width: 300px;
    }
    .header__botton__nav-1 {
        height: 110px;
    }
    .header__botton__nav-1-text-1 {
        margin-top: 20px;
    }
    .header__botton__nav-2 {
        height: 110px;
    }
    .header__botton__nav-2-text-1 {
        margin-top: 20px;
    }
    .header__botton__nav-3 {
        height: 110px;
    }
    .header__botton__nav-3-text-1 {
        margin-top: 20px;
    }
    .header__botton__nav-4 {
        height: 110px;
    }
    .header__botton__nav-4-text-1 {
        margin-top: 20px;
    }
    .section__images {
        font-size: 16px;
    }
    .section__images-1 {
        height: 200px;
        margin-right: 5px;
    }
    .section__images-2 {
        height: 200px;
        margin-right: 5px;
    }
    .section__images-3 {
        height: 200px;
        margin-right: 5px;
    }
    .sport__club-img {
        display: none;
    }
    .sport__club-inner {
        max-width: 500px;
    }
    .sport__club-block-right {
        transform: translate(0px, -80px);
    }
    .sport__club-block-right-title2 {
        white-space: nowrap;
    }
    .sport__club-block-right-container {
        margin-left: 50px;
    }
}
@media (max-width: 550px) {
    .header__nav {
        right: 110px;
        left: 124px;
    }
    .header__botton {
        max-width: 365px;
    }
    .header__botton__nav-1 {
        width: 170px;
        margin-right: 5px;
    }
    .header__botton__nav-1-text-1 {
        font-size: 16px;
    }
    .header__botton__nav-1-text-2 {
        font-size: 18px;
    }
    .header__botton__nav-2 {
        width: 170px;
        margin-right: 5px;
    }
    .header__botton__nav-2-text-1 {
        font-size: 16px;
    }
    .header__botton__nav-2-text-2 {
        font-size: 18px;
    }
    .header__botton__nav-3 {
        width: 170px;
        margin-right: 5px;
    }
    .header__botton__nav-3-text-1 {
        font-size: 16px;
    }
    .header__botton__nav-3-text-2 {
        font-size: 18px;
    }
    .header__botton__nav-4 {
        width: 170px;
        margin-right: 5px;
    }
    .header__botton__nav-4-text-1 {
        font-size: 16px;
    }
    .header__botton__nav-4-text-2 {
        font-size: 18px;
    }
    .header__botton__nav-1-icon {
        display: none;
    }
    .header__botton__nav-2-icon {
        display: none;
    }
    .header__botton__nav-3-icon {
        display: none;
    }
    .header__botton__nav-4-icon {
        display: none;
    }
    .prise__leftblock {
        width: 350px;
    }
    .accorion__label {
        width: 350px;
    }
    .prise__rightblock {
        max-width: 350px;
    }
    .price__slide-img {
        width: 350px;
    }
}
@media (max-width: 500px) {
    .header__nav {
        top: 110px;
        right: 96px;
        left: 100px;
    }
    .header__body-title {
        font-size: 38px;
    }
    .section__images {
        font-size: 14px;
    }
    .section__images-1 {
        height: 150px;
    }
    .section__images-2 {
        height: 150px;
    }
    .section__images-3 {
        height: 150px;
    }
    .trainers__slider {
        max-width: 420px;
    }
    .sport__club {
        margin-bottom: 0px;
    }
}
@media (max-width: 450px) {
    .header__nav {
        left: 80px;
    }
    .sport__club-inner {
        display: block;
        max-width: 350px;
    }
    .sport__club-block-right-title2 {
        font-size: 16px;
    }
    .trainers__top {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .trainers__top-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
}
@media (max-width: 400px) {
    .header {
        margin-bottom: 25px;
    }
    .header__nav {
        left: 40px;
    }
    .header__botton {
        flex-direction: column;
        max-width: 170px;
    }
    .header__botton__nav-1 {
        margin-bottom: 5px;
        height: 70px;
    }
    .header__botton__nav-1-text-1 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .header__botton__nav-2 {
        margin-bottom: 5px;
        height: 70px;
    }
    .header__botton__nav-2-text-1 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .header__botton__nav-3 {
        margin-bottom: 5px;
        height: 70px;
    }
    .header__botton__nav-3-text-1 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .header__botton__nav-4 {
        margin-bottom: 5px;
        height: 70px;
    }
    .header__botton__nav-4-text-1 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .section__images {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
    }
    .section__images-1 {
        max-width: 300px;
    }
    .section__images-2 {
        max-width: 300px;
    }
    .section__images-3 {
        max-width: 300px;
    }
    .section__images-4 {
        max-width: 300px;
    }
    .sport__club-block-right {
        transform: translate(0px, 0px);
    }
    .trainers__top {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .trainers__top-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .prise__leftblock {
        width: 300px;
    }
    .prise__leftblock-text {
        font-size: 30px;
    }
    .accorion__label {
        width: 300px;
        font-size: 18px;
    }
    .accordion__contant {
        max-width: 300px;
    }
    .prise__rightblock {
        max-width: 300px;
    }
    .price__slide-img {
        width: 300px;
    }
}
@media (max-width: 350px) {
    .header__nav {
        top: 110px;
        right: 62px;
        left: 20px;
    }
    .section__images {
        max-width: 250px;
    }
    .section__images-1 {
        max-width: 250px;
    }
    .section__images-2 {
        max-width: 250px;
    }
    .section__images-3 {
        max-width: 250px;
    }
    .sport__club-block-right-title {
        font-size: 25px;
    }
    
    .sport__club-block-right-title2 {
        font-size: 14px;
    }
    .trainers__top {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .trainers__top-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
}
@media (max-width: 320px) {
    .header__body-button {
        margin-bottom: 90px;
    }
    
    .trainers__slider {
        max-width: 196px;
    }
}
@media (max-width: 300px) {
    .header__nav {
        top: 110px;
        right: 40px;
        left: 0px;
    }
    .trainers__top {
        flex-direction: column;
        align-items: center;
    }
}